
.rata3{

    position: absolute;
top:  100%;
    background-color:limegreen;
    padding: 2em;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        font-family: HoloLens MDL2 Assets;
    width: 100%;
}
.mapa{
  
    margin-left: 75%;
    
}
@media (max-width: 800px) {
    rata3 {
        flex-direction: column;
    }
    rata3 {
        margin-right: 0;
    }
}

@media (min-width: 500px) {
    rata3 {
        flex-direction: column;
    }
    rata3 {
        margin-bottom: 10px;

    }
}


@media (max-width: 800px) {
    mapa {
        flex-direction: column;
    }
    mapa {
        margin-right: 0;
    }
}

@media (min-width: 500px) {
    mapa {
        flex-direction: column;
    }
    mapa {
        margin-bottom: 10px;

    }
}

.face{
    position: absolute;
    top:100px; 
}
.you{
     position: absolute;
    top:100px; 
    left: 110px;
}
.tik{
     position: absolute;
    top:100px; 
    left: 170px;
}

.insta{
    position: absolute;
    top:100px; 
    left: 235px;
}

.con{
    position: absolute;
    left:7%;
    top:15%;
    color: white;
  
}

.inst{
    position: absolute;
    top:15%;
    left:35%;
    
}
.ubi{
    position: absolute;
    left:60%;
    top:15%;
    color: white;
}

.card1{
    position: absolute;
    left: 200px;
    top: 150px;
}
.card1:hover{
    background-color:gray;
    transform: translateY(-3%);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);

}

.card2{
    position: absolute;
    left: 800px;
    top: 150px;
}
.card2:hover{
    background-color: gray;
    transform: translateY(-3%);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);

}

body{
    background-color: gainsboro;
}